* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #343263;
  color: white;
  z-index: 1000; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.navbar-logo h1 {
  margin: 0;
  font-size: 1.5rem;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 1rem; 
}
